/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

body {
    /* margin: 0; */
    /* padding: 20px 15px; */
    font-family: 'Roboto', sans-serif;

}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    /* dodajemy 100% wysokosci jak ponizej */
    height: 100vh;
}

.container header {
    /* border: 1px solid red; */
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 100px 80px;

}