* {
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Slider */
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  min-height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 40px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}

/* .slide.slider1 {
  background: url("/img/1-Z96.jpg");
} */

h1,
h3 {
  text-align: center;
}

.place {
  color: orange;
}

h2 {
  margin: 7px;
}

.container {
  max-width: 1000px;
  margin: 20px auto 0;
}

.grid-item {
  background: #dfe0e0;
  color: rgba(12, 12, 12, 0.733);
  display: flex;
  /* wyrownac opisy itp */
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: (200px, auto);
  /* grid-template-rows: max-content(200px, auto); */
  /* grid-template-columns: repeat(1, 192px);
    grid-template-rows: repeat(5, 112px); */
  grid-gap: 8px;
  padding: 8px;
  background: #fff;
  grid-template-areas:
    "box1 box1 box1 box1 box1"
    "box2 box2 box2 box2 box2"
    "box3 box3 box3 box3 box3"
    "box4 box4 box4 box4 box4"
    "box5 box5 box5 box5 box5"
    "box6 box6 box6 box6 box6";
}

.company-info span {
  color: rgb(255, 255, 255);
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  overflow: hidden;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1/3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding-top: 15px;
  border: 1px solid #c9e6ff;
}

.contact form button {
  background: #c9e6ff;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.contact form button:hover,
.contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.more {
  display: none;
}

.grid-item li {
  list-style-type: none;
}

.grid-overview ul,
.grid-info ul {
  display: grid;
  grid-gap: 7px;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
}

.grid-overview,
.grid-destriction,
.grid-info,
.grid-map,
.grid-footer {
  /* display table column h2 jest nad ul */
  display: table-column;
  padding: 8px;
}

.grid-img img {
  width: 100%;
  height: 550px;
  display: flex;
}

.grid-item {
  overflow: hidden;
}

.grid-img {
  grid-area: box1;
}

.grid-overview {
  grid-area: box2;
}

.grid-destriction {
  grid-area: box3;
}

.grid-info {
  grid-area: box4;
}

.grid-map {
  grid-area: box5;
  text-align: center;
}

.grid-footer {
  grid-area: box6;
}

@media only screen and (max-width: 707px) {
  body,
  .grid-item {
    font-size: 14px;
  }

  .grid-img img {
    height: 251px;
  }

  .grid-map {
    display: table-column;
    padding: 8px;
    /* padding: 0; */
  }

  .grid-map iframe {
    width: 400px;
    height: 250px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info h3,
  .company-info ul {
    text-align: left;
  }
  /* @media all and (orientation: landscape) {
    body,
    .grid-img img {
      height: 352px;
    }
  } */
  @media only screen and (min-width: 505px) and (max-width: 707px) and (orientation: landscape) {
    body,
    .grid-img img {
      height: 352px;
    }
  }
}
